body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
	grid-template-columns: 50vw 50vw;
  grid-template-rows: 12vh 28vh 54vh 6vh;
}

h1 {
  margin-top: 0%;
  padding-bottom: 0.2em;
  margin-bottom: 0%;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  color: #fbf4db;
  display: inline-block;
}

h2 {
  margin-top: 0%;
  margin-bottom: 0%;
  font-weight: 300;
  font-size: 20px;
}

h3 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #c03e3e;
  font-size: 18px;
}

p {
  font-size: 14px;
  margin-top: 10px;
}

.header {
  grid-column: 1/3;
  grid-row: 1;
  padding-left: 1em;
  font-size: 1.5em;
  background-color: #c03e3e;
}

.buttonBar {
  display: inline-block;
  text-align: right;
  float: right;
  margin-right: 1em;
  margin-top: 15px;
}

.buttonHeader {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  border-color: #fbf4db;
  background-color: #fbf4db;
  color: #c03e3e;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.quickSearch {
  grid-column: 1/3;
  grid-row: 2;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.searchInputAndButton {
  padding-top: 10px;
  text-align: center;
  margin: auto;
}

.searchBar {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  border-radius: 5px;
  margin-right: 10px;
  padding-left: 5px;
  height: 20px;
  width: 60%;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #fbf4db;
  border: none;
  border-radius: 5px;
  border-color: #c03e3e;
  background-color: #c03e3e;
  padding: 3px 10px;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.dropdownsAndLink {
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

.dropdownSearchBy {
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border-radius: 3px;
}

.dropdownCollection {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border-radius: 3px;
}

.dropdownFormat {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border-radius: 3px;
}

.advancedSearchLink {
  margin-left: 10px;
  font-size: 1em;
}

.courseSupport {
  grid-column: 1/2;
  grid-row: 3;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.suggestions {
  width: 90%;
  margin: auto;
  display: grid;
	grid-template-columns: 140px auto;
	grid-template-rows: 50px 1fr auto;
}

.suggestionsTitle {
  grid-column: 1/3;
  grid-row: 1/2;
}

.bookImage {
  grid-column: 1/2;
  grid-row: 2/4;
}

.bookTitle {
  grid-column: 2/3;
  grid-row: 2/3;
}

h3.bookTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

.courseInfo {
  grid-column: 2/3;
  grid-row: 3/4;
}

.beyondBrown {
  grid-column: 2/3;
  grid-row: 3;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.alignRight {
  text-align: right;
  margin-right: 15px;
}

.footer {
  background-color: #fbf4db;
  grid-column: 1/3;
  grid-row: 4;
  text-align: center;
  padding: 5px 15px 10px 15px;
}

.footer a {
  font-size: 14px;
}

@media (max-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 2.5fr 3fr 2.5fr auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1;
    padding-left: 0px;
    padding-bottom: 20px;
    text-align: center;
  }

  .buttonBar {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttonHeader {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 150px;
    padding: 2px 0px;
  }

  .quickSearch {
    margin-top: 10px;
    grid-column: 1/2;
    grid-row: 2;
  }

  .dropdownsAndLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dropdownSearchBy {
    margin: auto;
    margin-bottom: 5px;
    width: 150px;
  }

  .dropdownCollection {
    margin: auto;
    margin-bottom: 5px;
    width: 150px;
  }

  .dropdownFormat {
    margin: auto;
    margin-bottom: 5px;
    width: 150px;
  }
  .courseSupport {
    grid-column: 1/2;
    grid-row: 3;
  }

  .beyondBrown {
    grid-column: 1/2;
    grid-row: 4;
    margin-bottom: 20px;
  }

  .footer {
    grid-column: 1/2;
    grid-row: 5;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
